// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background: #333333;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
  width: 99vw;

  .card {
    display: inline-block;
    padding: 2px;
    background-color: #7be3c2;
    border-radius: 5px;

    .card__container {
      display: flex;

      .card__cell {
        width: 100px;
        height: 100px;
        background-color: #a7f9df;
        border: 2px solid #7be3c2;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: #dafff3;
          cursor: pointer;
        }

        .card__tile {
          width: 90px;
          height: 90px;
          border-radius: 20px;
          background-color: #3dbdee;
          border: 3px solid #24aadd;

          &.tile__black {
            background-color: #ff68a8;
            border: 3px solid #ed4d90;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
